.App {
  text-align: center;
}

.App-logo {
  width: 256px;
  height: 181px;
  pointer-events: none;
  margin: 50px;
}

.App-header {
  background-color: rgb(245, 245, 245);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /*justify-content: center;*/
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.row {
  margin-bottom: 20px;
}

table {
  margin-top: 20px;
}

.spectrum-Table:not(.spectrum-Table--quiet) tbody.spectrum-Table-body .spectrum-Table-row:first-child .spectrum-Table-cell:first-child {
  border-top-left-radius : 4px;
}

.spectrum-Table-cell {
  background-color: #ffffff;
}

.spectrum-Table-row .spectrum-Table-cell:first-child {
  border-left: 1px solid #cccccc;
}

tbody.spectrum-Table-body .spectrum-Table-cell {
  border-top: 1px solid #cccccc;
}

tbody.spectrum-Table-body .spectrum-Table-row .spectrum-Table-cell:last-child {
  border-right: 1px solid #cccccc;
}

tbody.spectrum-Table-body .spectrum-Table-row:last-child .spectrum-Table-cell {
  border-bottom: 1px solid #cccccc;
}